footer
  #accordion.accordion
    .row.m-0
      .col-12.col-lg-5.col-xl-5.p-0
        .card.p-t-4.border-top-0
          #headingOne.card-header.p-0
            .row.m-0.bg-white
              .col-12.mt-4.d-none.d-lg-block.pl-xl-0
                p.s-t STS Design vine în sprijinul dvs.
            button.d-lg-none.s-t.btn.btn-link.btn-block.text-left.collapsed(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
              | STS Design vine în sprijinul dvs.
              i.fa.fa-plus(aria-hidden="true")
              i.fa.fa-minus(aria-hidden="true")
          .row.m-0
            .col-12.pl-xl-0
              #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                .card-body.wrap-text
                  p.text
                    | Misiunea noastră este de a ajuta oamenii să vizualizeze, să creeze și să întrețină case frumoase. Vă oferim imagini de inspirație pentru toate tipurile de locuințe, minunate arhitecturale și noi tendințe de design.
                  p.text
                    | Urmați-ne pentru o doză zilnică de case excepționale, arhitectură inteligentă și design frumos.

      .col-12.col-lg-4.col-xl-4.p-0
        .card.p-t-4.border-top-0
          #headingTwo.card-header.p-0
            .row.m-0.bg-white
              .col-12.mt-4.d-none.d-lg-block.pl-xl-0
                p.s-t Contact sediu
            button.d-lg-none.s-t.btn.btn-link.btn-block.text-left.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
              | Contact sediu
              i.fa.fa-plus(aria-hidden="true")
              i.fa.fa-minus(aria-hidden="true")
          .row.m-0
            .col-12.pl-xl-0
              #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
                .card-body
                  p.text
                    a.mr-1(href='#/contact')
                      i.fas.fa-map-marker-alt(aria-hidden="true")
                    span Strada Samoil Isopescu, numărul 21, Suceava
                  p.text
                    a.mr-1(href='mailto:sts-design@gmail.com')
                      i.fas.fa-envelope(aria-hidden="true")
                    span sts-design@gmail.com
                  p.text.social.pt-1
                    a.mr-1(href='tel:+40747580074')
                      i.fas.fa-phone-alt(aria-hidden="true")
                    span (+40) 747 580 074 - Alexandra
                  p.text.social.pt-1
                    a.mr-1(href='tel:+40751646181')
                      i.fas.fa-phone-alt(aria-hidden="true")
                    span (+40) 751 646 181 - Ciprian

      .col-12.col-lg-3.col-xl-3.p-0
        .card.p-t-4.border-top-0
          #headingThree.card-header.p-0
            .row.m-0.bg-white
              .col-12.mt-4.d-none.d-lg-block.pl-xl-0
                p.s-t Contact
            button.d-lg-none.s-t.btn.btn-link.btn-block.text-left.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
              | Contact
              i.fa.fa-plus(aria-hidden="true")
              i.fa.fa-minus(aria-hidden="true")
          .row.m-0
            .col-12.pl-xl-0
              #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordion')
                .card-body
                  p.text.text.social.mb-0
                    a(href='#')
                      i.fab.fa-facebook(aria-hidden="true")
                    a(href='#')
                      i.fab.fa-instagram-square(aria-hidden="true")
                    a(href='#')
                      i.fab.fa-skype(aria-hidden="true")
                    a(href='#')
                      i.fab.fa-whatsapp(aria-hidden="true")
                  p.text.text-social.mb-0.mt-3
                    | Lasă-ne un mesaj pe rețelele de mai sus sau pe pagina de 
                    a.anchor(href='#') contact
                    | .

  .row.m-0
    .col-12.mt-4
      p.text-center.copyright &copy; 2016 - {{currYear}} STS Design. Toate drepturile rezervate.

  scroll-top
