// COLORS
@black: #000000;
@white: #ffffff;
@gold: #e6ac00;
@grey-1: #f8f8f8;
@grey-2: #f8f9fc;
@grey-3: #c4c4c4;
@grey-4: #7a7a7a;
@blue-1: #3b5998;
@blue-2: #00aff0;
@green-1: #25d366;

// FONTS
@font-face { font-family: "Roboto-Regular"; src: url("../../app/fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face { font-family: "Roboto-Bold"; src: url("../../app/fonts/Roboto-Bold.ttf") format("truetype"); }
@font-face { font-family: "Lato-Regular"; src: url("../../app/fonts/Lato-Regular.ttf") format("truetype"); }
@font-face { font-family: "Lato-Bold"; src: url("../../app/fonts/Lato-Bold.ttf") format("truetype"); }

@Roboto: "Roboto-Regular", sans-serif;
@Roboto-Bold: 'Roboto-Bold', sans-serif;
@Lato: "Lato-Regular", sans-serif;
@Lato-Bold: "Lato-Bold", sans-serif;

// TYPOGRAPHY
.s-t {
  color: @black;
  font-family: @Roboto-Bold;
  font-weight: 700;
  font-size: 16px;
}

.text {
  color: @black;
  font-family: @Lato;
  font-size: 15px;
}

.anchor {
  color: @black;
  font-family: @Lato-Bold;
  text-decoration: none;

  &:hover {
    color: @gold;
    text-decoration: none;
  }
}

// UTILS
.bg-white {
  background-color: @white;
}