doctype html
html(lang="ro")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="baed125413aa3912cc0452f11058376bda3c799e" content="f7dde7d438ae860b56011f9982db6a1f4ae0a9f9")
        meta(name="description" content="Registrul intrari - iesiri")
        meta(name="keywords" content="Registrul intrari - iesiri")
        meta(name="author" content="Your Consulting TEAM")
        link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.min.css')
        title STS Design
    block content

script(type='text/javascript').
    window.onload = function () {
        window.moveTo(0, 0);
        window.resizeTo(screen.availWidth, screen.availHeight);
    };
