.aboutUs.container.p-0
  .row.m-0
    .col-12.text-center.mt-4.p-0
      h3 Să facem cunoștință!

    .col-12.content.mt-4.p-0
      p Am pornit spre acest drum în 2016, ca o afacere de familie, soț și soție, când am realizat că ne dorim să facem mai mult decât proiectare de mobilier (eu) sau construcții (el), și anume DESIGN. Considerăm că atunci când designerul și echipa executantă a amenajării interioare se completează reciproc, pasul spre un proiect reușit este sigur.
      p Te vom ajuta să găsești răspuns la toate întrebările ce te împiedică să visezi la spațiul perfect pentru tine.
      p Te vom ajuta să îți expui gândurile, dorințele, pasiunile, necesitățile, iar noi le vom modela și completa, pentru că ne dorim ca fiecare spațiu să reflecte personalitatea și spiritualitatea.

    .col-12.mt-3.mb-2.p-0
      h4font-weight-bold Echipa
    .col-12.col-md-6.mb-4.alexandra
      img.h-100.w-100(src="app/images/alexandra.jpg", alt="Alexandra")
      p.text-centerfont-weight-bold Alexandra
    .col-12.col-md-6.mb-4.ciprian
      img.h-100.w-100(src="app/images/Ciprian.jpg", alt="Ciprian")
      p.text-centerfont-weight-bold Ciprian



