.contact
  .row.m-0
    .col-12.p-0.header-wrap
      h3.title.font-weight-bold Bulevardul Sofia Vicoveanca, numărul 117, etajul 2
      h3.title.font-weight-bold +4 0747 580 074
      h3.title.font-weight-bold sts.design.sv@gmail.com

    .col-12.col-lg-6.p-0
      h3.title.msg Lăsați-ne un mesaj:
      hr.custom-hr

    .col-12.p-0.contact-form
      form.row.m-0
        .col-12.col-lg-6.p-0
          .row.m-0
            .col-12.col-sm-6.pb-3.p-0.pr-sm-2.pr-lg-3.position-relative
              label.label Nume
              input.input-sm.form-control.text-capitalize(ng-model='vm.form.lastName' ng-class='{error: vm.lastNameErr}')
              small.error-msg(ng-if='vm.lastNameErr') Câmpul este obligatoriu.

            .col-12.col-sm-6.pb-3.p-0.pl-sm-2.pl-lg-3.position-relative
              label.label Prenume
              input.input-sm.form-control.text-capitalize(ng-model='vm.form.firstName' ng-class='{error: vm.firstNameErr}')
              small.error-msg(ng-if='vm.firstNameErr') Câmpul este obligatoriu.

            .col-12.col-sm-6.pb-3.p-0.pr-sm-2.pr-lg-3.position-relative
              label.label Email
              input.input-sm.form-control(ng-model='vm.form.email' ng-class='{error: vm.emailErr}')
              small.error-msg(ng-if='vm.emailErr') Câmpul este obligatoriu.

            .col-12.col-sm-6.pb-3.p-0.pl-sm-2.pl-lg-3.position-relative
              label.label Telefon
              input.input-sm.form-control(ng-model='vm.form.phone' ng-class='{error: vm.phoneErr}' allow-number)
              small.error-msg(ng-if='vm.phoneErr') Câmpul este obligatoriu.

        .textarea-wrap.col-12.col-md-6.pb-3.p-0.position-relative
          label.label Mesaj
          textarea.input-sm.form-control(ng-model='vm.form.message' rows='4' ng-class='{error: vm.messageErr}')
          small.error-msg(ng-if='vm.messageErr') Câmpul este obligatoriu.

        .col-12.col-lg-6.p-0
          p(ng-if='vm.sendErr') success
          p(ng-if='vm.sendErr === false') success2
        .col-12.col-lg-6.p-0.text-lg-right.pt-3.pt-lg-1
          button.sts-btn(ng-click='vm.send(vm.form);')
            span.text-uppercase Trimite

    .col-12.p-0.map-wrap
      #map

script.
  function initMap() {
    var uluru = {lat: 47.643753, lng: 26.291099};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      scrollwheel: false,
      center: uluru
    });
    var contentString = '<div>' +
            '<div style="padding-top: 20px">' +
            '<p><b>Număr telefon</b>: 0740571926</p>' +
            '<p><b>Email</b>: office.yourconsulting@gmail.com sau office@yourconsulting.ro</p>' +
            '<p><b>Adresă</b>: comuna Ipotești, sat Lisaura, str. Florilor, nr. 200E, Suceava</p>' +
            '</div>' +
            '</div>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map,
      animation: google.maps.Animation.DROP,
      title: 'Your Consulting'
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDSQ74ettpMtpQ2INYCon6-Yc_Um4ozjj8&callback=initMap')