.home
  .row.m-0
    .col-12.p-0
      #homeCarousel.carousel.slide(data-ride='carousel' data-interval="false")
        ol.carousel-indicators
          li.active(data-target='#homeCarousel' data-slide-to='0')
          li(data-target='#homeCarousel' data-slide-to='1')
          li(data-target='#homeCarousel' data-slide-to='2')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src='https://picsum.photos/1600/300?grayscale' alt='...')
          .carousel-item
            img.d-block.w-100(src='https://picsum.photos/1600/300?grayscale' alt='...')
          .carousel-item
            img.d-block.w-100(src='https://picsum.photos/1600/300?grayscale' alt='...')
        a.carousel-control-prev(href='#homeCarousel' role='button' data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#homeCarousel' role='button' data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next

    .col-xl-6.pt-50.px-0
      h4.h4 Lorem ipsum title
      p Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing. Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing. Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing.
      p Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing. Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing. Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing.
      p Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing. Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing. Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing.
    .col-xl-6.pt-50.px-0
      img.d-block.w-100(src='https://picsum.photos/600/250?grayscale' alt='...')
    .col-xl-6.pt-50.px-0
      img.d-block.w-100(src='https://picsum.photos/600/250?grayscale' alt='...')
    .col-xl-6.pt-50.px-0.pb-100
      h4.h4 Lorem ipsum title
      p Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing. Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing. Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing.
      p Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing. Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing. Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing.
      p Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing. Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing. Aute consequat eiusmod in anim mollit aute mollit excepteur dolore adipisicing.